* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid black;
}

.main-label {
    margin-left: 25px;
}

nav {
    margin-right: 25px;
}

.list-nav-element {
    padding: 20px;
    list-style: none;
}

.nav-element {
    text-decoration: none;
    font-size: 1.25em;
    color: black;
}

.list-nav {
    display: flex;
    flex-direction: row;
    gap: 25px;    
}

footer {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        border: 3px solid black;
    }

    .main-label {
        margin: 10px;
    }

    nav {
        margin: 0;
    }

    .list-nav {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;    
    }
  }