* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: azure;    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background: beige;
}

.main-logo {
    max-height: 50px;
    max-width: 50px;
    margin: 20px;
}

nav {
    margin-right: 15px;
}

.list-nav-element {
    padding: 20px;
    list-style: none;
}

.nav-element {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    color: black;
}

.nav-element:hover {
    color: gray;
}

.list-nav {
    display: flex;
    flex-direction: row;
    gap: 25px;    
}

.hero-container {
    margin: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.hero-container p {
    margin: 15px;
    font-size: 1.75em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-container button {
    padding: 10px 20px;
    font-size: 1.25em;
    color: black;
    background: beige;
    border-radius: 15px;
    transition: transform 0.3s;
}

.hero-container button:active {    
    color: beige;
    background: black;    
}

.hero-container button:hover {        
    transform: scale(1.05);
}

h1, h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.advantages-container {
    margin: 15px;
    padding: 20px;
}

.advantages-cards {
    display: flex; 
    flex-direction: row;
    gap: 20px;
}

.advantages-container article {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: beige;
    border-radius: 15px;
    transition: transform 0.3s;
}

.advantages-container article:hover {
    transform: scale(1.05);
}

.tariff-container {
    margin: 15px;
    padding: 20px;
}

.tariff-container section {
    display: flex;
    flex-direction: row;
    gap: 20px;    
}


.default-card-tariff {    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: lightblue;
    border-radius: 15px;
    transition: transform 0.3s;

}

.default-card-tariff:hover {
    transform: scale(1.05);
}

.vip-card-tariff { 
    color: darkblue;
    text-shadow: 1px 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gold;
    border-radius: 15px;
    transition: transform 0.3s;

}

.vip-card-tariff:hover {
    transform: scale(1.05);
}

.tariff-container h3 {
    text-align: center;
}

.contact-form-container {
    margin: 15px;
    padding: 20px;
}

form {
    display: flex;
    justify-content: center;
}

fieldset {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 12px;
    background: beige;
}

fieldset input {
    background-color: beige;
    border-radius: 12px;
    padding: 10px;
}

fieldset button {
    padding: 10px;
    color: beige;
    background: black;
    border-radius: 12px;
}

fieldset button:active {
    padding: 10px;
    color: black;
    background: beige;
    border-radius: 12px;
}

footer {    
    display: flex;
    justify-content: flex-end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 1px solid black;
}

footer p {
    margin: 15px;
}

@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
    }

    .main-label {
        margin: 10px;
    }

    nav {
        margin: 0;
    }

    .list-nav {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;    
    }

    .advantages-cards {
        display: flex;        
        flex-direction: column;
        gap: 20px;
    }

    .tariff-container section {
        display: flex;
        flex-direction: column;
        gap: 20px;    
    }
  }

  @media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid black;
    }

    .main-label {
        margin: 10px;
    }

    nav {
        margin: 0;
    }

    .list-nav {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;    
    }

    .advantages-cards {
        display: flex;        
        flex-direction: column;
        gap: 20px;
    }

    .tariff-container section {
        display: flex;
        flex-direction: column;
        gap: 20px;    
    }
  }