* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background: beige;
}

.main-logo {
    height: 50px;
    width: 50px;
    margin: 20px;
}

nav {
    margin-right: 15px;
}

.list-nav-element {
    padding: 20px;
    list-style: none;
}

.nav-element {
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.25em;
    color: black;
}

.nav-element:hover {
    color: gray;
}

.list-nav {
    display: flex;
    flex-direction: row;
    gap: 25px;    
}

.hero-container {
    margin: 15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.hero-container p {
    margin: 15px;
    font-size: 1.75em;
}

.hero-container button {
    padding: 10px 20px;
    font-size: 1.25em;
    color: black;
    background: beige;
    border-radius: 15px;
}

.hero-container button:active {    
    color: beige;
    background: black;    
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

footer {    
    display: flex;
    justify-content: flex-end;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-top: 1px solid black;
}

footer p {
    margin: 15px;
}

@media (max-width: 480px) {
    header {
        display: flex;
        flex-direction: column;
        border: 3px solid black;
    }

    .main-label {
        margin: 10px;
    }

    nav {
        margin: 0;
    }

    .list-nav {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;    
    }
  }