.container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 16px;
    padding: 16px;
}

.card {
    padding: 16px;
    border-radius: 12px;
    background: #eeee;

    display: flex;
    flex-direction: column;
}