.container {
    display: flex;
    justify-content: center;    
    flex-direction: row;
    gap: 150px;
}

.card {
    width: 250px;
    height: 200px;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 15%;
    background: beige; 
}

.card:hover {
    width: 255px;
    height: 205px;
    box-sizing: border-box;
}

button {
    margin-top: 30px;    
}