/* 
display / position
flex / grid
size
box-model
visual
text
animation
*/

.best_practice {
    display: flex;
    flex-direction: column;

    width: 200px;
    padding: 16px;

    border-radius: 12px;
    background: white;

    text-align: center;

    transition: transform 0.3s;
}

.product-cards {
    display: flex;
    justify-content: center;
}

.product-card {
    display: flex;
    flex-direction: column;   
    
    width: 200px;
    padding: 16px;

    border-radius: 12px;
    background: rgb(206, 243, 153);

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.product-card button {
    margin-top: auto;
}
