* {
    box-sizing: border-box;
}

hr {
    color: grey;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background: rgb(80, 211, 251);
}

#menu {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

section {
    margin-bottom: 40px;
}

#about {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#profile_img {
    width: 100px;
    height: 100px;
}

#list-projects {    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.project-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    background: burlywood;
    border-radius: 12px;
    transition: transform 0.3s;
}

.project-card:hover {
    transform: scale(1.05);
}

#contact-form {
    display: flex;
    justify-content: center;
}

#contact-fieldset {
    height: 200px;
    width: 300px;
}

#contact {    
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer {
    display: flex;
    justify-content: flex-end;
}