/* body {
    background-color: beige;
    background-image: url("background.jpg");
    background-attachment: fixed;
} */
/* сокращённый вариант фона */
* {
    box-sizing: border-box;
}

body {
    background: fixed url("background.jpg");
}

h1, p {    
    text-align: center;    
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: dashed;    
    margin: 3px;
    background-color: rgb(74, 74, 206);
    color: azure;
    border: 3px double red;
    border-radius: 15px;
    font-family: monospace;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.main-container {
    margin: 30px 40px;
    padding: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(200, 200, 236);
    border: 2px solid yellow;
    outline: 3px dashed red;
    outline-offset: 3px;
}