* {
    box-sizing: border-box;
}

.card {
    padding: 10px;
    margin: 10px;
    width: 300px;    
    border: 5px solid;
}

.main-heading {
    color: blue;    
    font-size: 2rem;
    padding: 10px 0;
    margin: 15px;
}

.main-info {
    color: darkgray;
    font-size: 1rem;
    padding: 10px 0;
    margin: 15px;
}

.sign-up-btn {    
    color: red;
    font-size: 0.875rem;
    padding: 10px 16px;
    margin: 10px;
    background-color: rgb(106, 214, 247);
}