* {
    box-sizing: border-box;
}

body {
    color: black;
}

.card {    
    position: relative;
    display: inline-block;
    vertical-align: top;    
    padding: 10px;
    margin: 10px;
    width: 300px;    
    border: 5px solid;    
}

.card .main-heading, 
.card .main-info {
    color: gray;
}

.badge {
    position: absolute;
    top: 10px;
    right: 10px; 
}

.main-heading {    
    font-size: 2rem;
    padding: 10px 0;
    margin: 15px;
}

.main-info {    
    font-size: 1rem;
    padding: 10px 0;
    margin: 15px;
}

.sign-up-btn {    
    width: 200px;
    display: inline-block;
    color: red;
    font-size: 0.875rem;
    padding: 10px 16px;
    margin: 10px;
    background-color: rgb(106, 214, 247);
}

.sign-up-btn:hover {
    background: orange;
    cursor: pointer;
}