* {
    box-sizing: border-box;
}

/* body {
    background-color: beige;
    background-image: url("background.jpg");
    background-attachment: fixed;
} */



/* сокращённый вариант фона */
body {
    background: fixed url("background.jpg");
    margin: 0;
}

header {
    background: lavender;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-ul {
    /* list-style-type: none; */
    list-style: none;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#nav1:hover {
    color: brown;    
}

#nav2:hover {
    color: chartreuse;
    font-size: large;
}

#nav3:hover {
    color: black;
    font-style: italic;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2.5em;
    /* font-size: 10vw; */
}

h2 {    
    text-align: center;    
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: dashed;  
    text-shadow: 2px 2px  5px red;     
    margin: 3px;
    background-color: rgb(74, 74, 206);
    color: azure;
    border: 3px double red;
    border-radius: 15px;
    font-family: monospace;
    font-size: 1.875em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.main-container {
    margin: 30px 40px;
    padding: 10px;
    width: 300px;
    height: 300px;
    background-color: rgb(200, 200, 236);
    border: 2px solid yellow;
    outline: 3px dashed red;
    outline-offset: 3px;
    border-radius: 20px;
    transition: transform 0.3s;
}

.main-container:hover {
    transform: scale(1.05);
}

.main-card-p {
    /* text-indent: 50px; */
    font-size: 1.25em;
    letter-spacing: 2px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    line-height: 1;
    text-shadow: 1px 1px 5px red;
}

.main-card-p-2 {
    line-height: 1.8;
    word-spacing: 20px;
    font-weight: bold;
    /* white-space: nowrap; */
}

button {
    border-radius: 10px;
    background: powderblue;
}