/* body {
    background-color: beige;
    background-image: url("background.jpg");
    background-attachment: fixed;
} */
/* сокращённый вариант фона */
* {
    box-sizing: border-box;
}

body {
    background: fixed url("background.jpg");
}

h1 {    
    text-align: center;    
    text-decoration: line-through;
    text-decoration-color: red;
    text-decoration-style: dashed;  
    text-shadow: 2px 2px  5px red;  
    margin: 3px;
    background-color: rgb(74, 74, 206);
    color: azure;
    border: 3px double red;
    border-radius: 15px;
    font-family: monospace;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

.main-container {
    margin: 30px 40px;
    padding: 10px;
    width: 300px;
    height: 200px;
    background-color: rgb(200, 200, 236);
    border: 2px solid yellow;
    outline: 3px dashed red;
    outline-offset: 3px;
    border-radius: 20px;
}

.main-card-p {
    /* text-indent: 50px; */
    font-size: 1.25em;
    letter-spacing: 5px;
    line-height: 1;
    text-shadow: 1px 1px 5px red;
}

.main-card-p-2 {
    line-height: 1.8;
    word-spacing: 20px;
    /* white-space: nowrap; */
}

button {
    border-radius: 12px;
    background: powderblue;
}