* {
    box-sizing: border-box;
}

body {
    margin: 0;    
}

/* h1, h2, h3 { ... } */

h1 {
    margin-left: 40px;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 1.75rem;
}

.hero-content h2 {
    margin: 0;
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 700;
    color: #FFFFFF;
}

.hero-content p {
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FFFFFF;
}

.about h2 {
    margin-bottom: 0;
    font-family: sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

.about p {
    font-family: sans-serif;
    font-size: 1.125rem;
    color: #000000B2;
}

/* .header { ... }
.container { ... }
.section { ... } */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;  
    align-items: center;  
}

.header-name {
    padding: 16px 8px;
}

.header-elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
    gap: 40px;
}

.nav-header {
    padding: 16px 8px;     
}

.nav-header ul {           
    display: flex;
    flex-direction: row;
    gap: 24px;
    list-style: none;
    font-family: sans-serif;    
}

.nav-contact {
    padding: 16px 8px;
    margin-right: 40px;
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.nav-contact-1 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    text-align: end;
}

.p-nav-1 {
    font-size: 0.8125rem;
    font-weight: 700;
    margin: 0;
    font-family: sans-serif; 
    color: #000000B2;    
}

.p-nav-2 {
    font-size: 1.125rem;
    margin: 0;
    font-family: sans-serif; 
    color: #000000B2;    
}

/* .btn { ... }
.card { ... }
.nav { ... } */

.btn-nav {
    padding: 12px 24px;
    background-color: #00ACA5;
    border-radius: 6px;
    border-style: none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.btn-hero {
    padding: 20px 32px;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    background-color: #00ACA5;
    border-radius: 4px;
    border-style: none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
}

.btn-about {
    padding: 20px 32px;
    background-color: #00ACA5;
    border-radius: 4px;
    border-style: none;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
}

nav a {
    text-decoration: none;
    color: #000000B2;
}

/* .hero { ... }
.advantages { ... }
.pricing { ... }
.testimonials { ... }
.faq { ... }
.final-cta { ... } */

.hero {
    background-color: #7DD83F;
    display: flex;
    flex-direction: row;
}

.hero img {
    width: 50%;
    object-fit: cover;
}

.hero-content {
    padding: 100px;
    /* display: grid;
    place-items: center; */        
}

.about {    
    display: flex;    
    align-items: center;
    gap: 100px
}

.about-section-one {    
    margin: 100px;
}

.about-section-two {
    width: 50%;
    padding: 20px 40px;
    margin-left: 50px; 
}

.img-about-one {
    width: 400px;
    height: auto;
    display: block;
    border-radius: 50%;
}


/* @media (min-width: 768px) { ... } */